



<div class="container">

  <details>
    <summary> Anmeldung </summary> <p> </p>
    Wie letztes Jahr gibt es eine    <a href=https://framaforms.org/anmeldung-zum-workshopwochenende-wichmar-1625664080>  Anmeldung </a>
    vorab. Da unsere Infrastruktur vor Ort begrenzt ist, können wir eine spontane Teilnahme leider nicht garantieren. Anmeldeschluss ist der 01. August!
    Wer uns beim Aufbau helfen mag, kann liebend gern schon am 17./ 18. August anreisen.
  </details> <p> </p>

  <details>

   <summary>Anreise</summary> <p> </p>

   <a href=/assets/images/anfahrt.jpg>
        <img class="img-mini" src="/assets/images/anfahrt.jpg" width="100"> </a>


     <details>
      <summary>Mit der Bahn</summary>
      Die Bahn fährt zwar durch Wichmars Ortsteil Würchhausen, hält dort aber leider nicht...Ihr könnt in Dornburg (Saale) oder Camburg (Saale) aussteigen. Am besten mit dem Fahrrad geht's dann den Saaleradweg entlang Richtung Würchhausen. Wenn ihr zu Fuß seid, steigt lieber in Dornburg aus. Nach Würchhausen dauert es dann ca. 45 min. Ebenso möglich ist es, hier (Dornburg) mit einem aufblasbarem oder Faltboot einzusetzen und sich nach Würchhausen treiben zu lassen.
     </details> <p>

       <details>
      <summary>Mit dem Auto</summary>
    Wichmar/Würchhausen liegt direkt an der B88 zwischen Naumburg und Jena. Die Brücke zwischen Wichmar und Würchhausen ist nur für max. 3t zugelassen.Von Norden kommend ist es möglich in Camburg den Saaleradweg entlangzufahren. Eine Einschränkung ist hier jedoch die Fahrzeughöhe (max. 3,8m)
     </details> <p>

     <details>
      <summary>Mit dem Fahrrad</summary>
    Würchhausen liegt direkt am Saaleradweg zwischen Dornburg und Camburg. <p> </p> Folge diesem Symbol und du solltest uns nicht verfehlen!
    <figure> <img class="img-mini" src="assets/images/Saaleradweg.jpg" alt="">
     </details> <p> </p>

   <details>
    <summary> Mit dem Boot </summary>
    Würchhausen lässt sich auch super über die Saale erreichen. Auf Grund der Strömung paddelt es sich besser aus Jena kommend. Auf dem Weg liegen einige Wehre, an denen du dein Paddelboot umtragen musst. Nach der Brücke in Wichmar halte Ausschau nach einer Unterführung des Bahndamms auf der linken Seite.
    </details> <p>
    </details> <p>
<p>
  <details>
   <summary>Essen</summary>
   Frühstück, Mittag- und Abendessen gibt's hier vor Ort. Wie immer vegan & bio, sowie möglichst saisonal und regional!
   <p>
   Die Black Kitchen, eine Aktionsküche aus Jena, wird uns dieses Jahr (natürlich wieder mit euren Schnibbel-Künsten) vegan bekochen. YUMMIE.
   <p>
   Damit wir die Ausgaben für das Essen decken können, sind wir auf eure Spende angewiesen! Die durchschnittliche Spendenempfehlung liegt bei 10-15€ pro Tag.
   <p>
   Wenn ihr Allergien oder Unverträglichkeiten habt, sagt uns gerne im Voraus bescheid. Wir bemühen uns um Alternativen, können diese aber nicht immer garantieren!
 </details> <p> </p>


   <details>
     <summary> Geld </summary>
     Das Workshopwochenende soll ein möglichst tauschlogikfreier Raum sein. Niemand verdient sich hier eine goldene Nase und die Kosten werden solidarisch geteilt.
     <p> </p>
      Die letzten Jahre haben gezeigt, dass bei allen Aufgaben, die während des Wochenendes anfallen, die Teilnahme an Workshops nicht immer für alle gewährleistet werden kann. Deshalb freuen wir uns in diesem Jahr über Menschen, die für essentielle Care-Tätigkeiten wie Kochen und Kinderbetreuung Verantwortung übernehmen und dafür eine Aufwandsentschädigung erhalten. Diese können wir über unsere Projektförderung als „Neulandgewinner“ finanzieren. Einen Großteil der Infrastruktur sowie das Abendprogramm bezahlen wir ebenfalls hierdurch.
    <p> </p>
      Um alle übrigen Kosten – vor allem für Essen und Material – zu decken, sind wir auf eure Spende angewiesen! Die Empfehlung liegt bei 10 - 15 € pro Tag.

  </details> <p> </p>

    <details>
      <summary>Hunde</summary> <br>
      <strong> Warum der Hund besser zu Hause bleiben sollte? </strong>
        Das Workshopwochenende mit den vielen Menschen und teilweise lauten Geräuschen ist keine stressfreie Umgebung für die meisten Hunde. Wer also die Möglichkeit hat, den Hund in seinem gewohnten Umfeld verpflegen zu lassen oder bei Bekannten abzugeben für das Wochenende, sollte diese nutzen, damit sowohl Hund als auch Besitzer:in das Wochenende in vollen Zügen genießen können.
        <p>
        <strong>Kann ich meinen Hund mitnehmen und muss er angeleint sein?</strong> <br>
        Ja und ja. Die:Der beste Freund:in soll zum Wichmarer Workshopwochenende natürlich nicht fehlen müssen. <br>
        Es gibt Gäste, die Angst vor Hunden haben. Daher bitten wir euch – wie auf öffentlichen Veranstaltungen Pflicht – euren Hund auf dem gesamten Gelände an der Leine zu halten. Da unter unseren Gästen viele Kinder und Barfußgänger*innen sind, achtet bitte auch darauf, dass das gesamte Gelände sauber bleibt und niemand durch Hinterlassenschaften der Hunde beeinträchtigt wird.
      </details>
      <p> </p>

  <details>
   <summary>Kinder</summary>
   <br>
    Dürfen beim Workshop-Wochenende natürlich nicht fehlen und sollen auch mit dem Programm/den Workshops angesprochen werden. Wenn ihr Ideen & Anregungen habt oder einen Workshop für Kinder mitbringen wollt, vermerkt es im Anmeldeformular oder schreibt uns am besten eine Mail an <strong> workshop-wichmar@riseup.net </strong> <p>
    Kinder müssen durch eine:n Erziehungsberechtigte:n begleitet werden. <p>
    Es wird wieder einen Familien-Zeltplatz geben, der näher an der Infrastruktur und Abends ruhiger ist. <p>
    Bringt bitte für die Kleineren geeignete Ohrschützer mit. <p>
  </details> <p>




<details>
  <summary> Zelten </summary>
  Es gibt eine große Zeltwiese, auf der Ihr Euch einrichten könnt. Wer eher leichten Schlaf hat, bringt am Besten Ohropax o.ä. mit - die Zugstrecke liegt in der Nähe.Anreise ist ab Freitag Vormittag möglich. Wer beim Aufbau mithelfen möchte, kann gerne schon Donnerstag anreisen.Mücken haben wir nicht explizit eingeladen, werden aber vermutlich trotzdem zugegen sein.
</details> <p> </p>






   <details>
     <summary> Infrastruktur </summary> <p>
     <details> <p>
       <summary> Klo, Dusche & Co </summary> <p>
       <strong> Kompoletten </strong>  gibt es auf dem Gelände. WCs in unseren Wohnungen können wir bei Bedarf Familien mit Kindern, Menschen mit Menstruation und in Ausnahmefällen anbieten.
       <p>
       <strong> Duschen </strong> könnt ihr ebenfalls draußen unter freiem Himmel. Auch ein Sprung in die Saale sorgt für Erfrischung am Wochenende!
       Bitte bringt keine tensidehaltigen Waschprodukte mit, da alles, was Ihr abduscht, in das Grundwasser bzw. die Saale gelangt und das findet die Umwelt nicht so gut. Wir versorgen Euch mit biologisch abbaubaren Produkten – die machen sauber und schonen die Natur.
       <p>
     <strong> Trinkwasser </strong> gibt es vor Ort frisch aus der Leitung. Hier könnt ihr eure Trinkflaschen jederzeit befüllen.
       </details> <p>
     <details>
       <summary> Infopunkt </summary> <p>
       Hier könnt ihr bei eurer Anreise einchecken. Bitte meldet euch davor rechtzeitig über unser Online-Formular an! Spontanen Anmeldungen vor Ort können wir keine Teilnahme garantieren.
       <p>
       Am Infopunkt laufen alle Infos zusammen: Das aktuelle Workshop-Programm, die Übersicht zum Gelände sowie Antworten auf (hoffentlich) all eure Fragen findet ihr hier.
       <p>
       Und ganz wichtig: Hier werden alle Aufgaben verteilt, die über das Wochenende anfallen. Je mehr mit anpacken, desto entspannter wird das Wochenende für alle!
       <p>
     </details>
</details> <p>

<details>
  <summary> Konsum </summary> <p> <p>

  <details>
    <summary> Kaffee </summary> <p> <p>
      Dieses Luxusgut bestellen wir bei dem <a href="https://www.aroma-zapatista.de/">"Aroma Kollektiv"</a>. Dadurch unterstützen wir ein Stückweit die zapatistischen Bewegung in Chiapas/Mexiko sowie die organisierten indigenen Gemeinden in Cauca/Kolumbien. Wenn (auch) Du eine Person bist, die morgen ihren Kaffe braucht, berücksichtige dies bitte bei deiner Spende.
  </details> <p>

  <details>
    <summary> Alkohol </summary> <p> <p>
    Wie jedes Jahr werden wir keine Getränke außer Wasser, Tee & Kaffee anbieten. Wer auf das Bierchen abends am Feuer nicht verzichten möchte, bringt sich bitte etwas mit.
  </details> <p>

  <details>
    <summary> Rauchen </summary> <p> <p>
    ...ist auf dem Gelände nur an dafür ausgeschriebenen Plätzen gestattet. Nehmt bitte vor allem abends am Lagerfeuer Rücksicht auf Nicht-Raucher*innen!
  </details> <p>
</details> <p>

<details>
  <summary> Abfall </summary> <p> <p>
  <strong> carry in, carry out! </strong> <p>

  Auf dem Gelände findet ihr Mülltonnen mit der Aufschrift "WWZ" an entsprechenden Stellen. Bitte achtet mit uns gemeinsam auf die Sauberkeit des Geländes und der Zeltwiese(n).
  <p>
  Bitte bringt Euch Schraubgläser o. ä. für Zigarettenstummel und Kronkorken mit, damit erleichtert Ihr uns die nachgelagerte Müll-Sammel-Aktion sehr und die Natur wird es Euch danken. (Hinweis: Als Aschenbecher benutzte Bierflaschen werden nicht wiederverwendet und gehen ins Bruchglas!)
  <p>
  Es wäre super, wenn ihr die leeren Flaschen der mitgebrachten Getränke auch wieder mitnehmt.
  <P>
</details> <p>

<details>
  <summary> Packliste </summary> <p> <p>
    <ul>
      <li> Zelt, Isomatte, Schlafsack </li>
      <li> Ggf. Ohrenschützer (vor allem für die Kleinen) </li>
      <li> Trinkflasche </li>
      <li> regenfeste Kleidung & festes Schuhwerk </li>
      <li> Kopf- oder Taschenlampe </li>
      <li> Sonnenschutz (Kopfbedeckung, Sonnencreme) </li>
      <Li> Insektenschutz (Zeckenkarte, ggf. Mückenspray)
</details> <P>



</div>
