



<div class="container">
  <h1>Alle Infos zum Workshopfest 2022</h1>
  <details>
   <summary>Anreise</summary> <p>
   <details>
    <summary>Mit der Bahn</summary>
Die Bahn fährt zwar durch Würchi, hält dort aber leider nicht...Ihr könnt in Dornburg (Saale) oder Camburg (Saale) aussteigen. Am besten mit dem Fahrrad geht's dann den Saaleradweg entlang Richtung Würchhausen. Wenn ihr zu Fuß seid, steigt lieber in Dornburg aus. Nach Würchhausen dauert es dann ca. 45 min. Ebenso möglich ist es, hier (Dornburg) mit einem aufblasbarem oder Faltboot einzusetzen und sich nach Würchhausen treiben zu lassen.
   </details> <p>
   <details>
    <summary>Mit dem Auto</summary>
    <p lang="en">Baby, you can drive my car<br>
    Yes, I’m gonna be a star<br>
    Baby, you can drive my car<br>
    And maybe I’ll love you
   </details> <p>
   <details>
    <summary>Mit dem Fahrrad</summary>
    <p>Ich hab die Blumen weg geworfen<br>
    Und die Katze verschenkt<br>
    Lass uns aufbrechen Baby.
   </details>
  </details> <p>
  <details>
   <summary>Essen</summary>
   <p><strong>Alles vegan freegan</strong><br>
   Supersäming<br>
   Supersoßig<br>
   Superschlonzig<br>
   Supergeil
  </details> <p>
  <details>
   <summary>Kinder</summary>
   <p><strong lang="en">Carework is part of the game</strong><br>
   Warum muss mensch das immer extra sagen?
  </details>
</div>
