



<div class="container">
  <h1> Alle Infos zum Workshopfest 2022</h1>

  <button class="accordion"> <h2> <strong> Anreise </strong> </h2> </button>
  <div class="panel">
    {% include accordion_anreise.html %}
  </div>
  <p>
  <button class="accordion"> <h2> <strong> Essen </strong> <h2> </button>
  <div class="panel">
  <p> <strong> Alles vegan freegan </strong> <p> Supersäming <p> Supersoßig <p> Superschlonzig <p> Supergeil  </div>
  <p>
  <button class="accordion"> <h2> <strong> Kinder </strong> </h2> </button>
  <div class="panel">
    <p> <strong> Carework is part of the game </strong> <p> Warum muss mensch das immer extra sagen? <p>
  </div>
</div>
