
  <button class="accordionsmall"> <h3 id="h3green"> Mit der Bahn </h3> </button>
  <div class="panel">
    <p> If you missed the train I'm on <p> You will know that I am gone <p> You can hear the whistle blow a hundred miles <p>

  </div>

  <button class="accordionsmall"> <h3 id="h3green"> mit dem Auto </h3> </button>
  <div class="panel">
  <p>     <P> Baby, you can drive my car <p> Yes, I'm gonna be a star <p> Baby, you can drive my car <p> And maybe I'll love you <p> </div>

  <button class="accordionsmall"> <h3 id="h3green"> Mit dem Fahrrad </h3> </button>
  <div class="panel">
     <p> Ich hab die Blumen weg geworfen <p> Und die Katze verschenkt <p> Lass uns aufbrechen Baby. <p>
  </div>
