// Das ist ein KOmmentar, den man nicht sehen kann, Konstantin
body
{
 width:100%;
 height:100%;
 // background-color:rgb(170,230,170) komisches grün

 background-color: #ffe7a1;
 color:black;
 text-align:justify;
 hyphens: auto;
}

h1 {
  color: #fb6e32;
  margin: 30px 0;
  font-size: 3em;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
}

h2 {color: #027424}
h3 {color: #c73e04}
h1,h2,h3 {clear:left}

a {
  color: #fb6e32
}

//Klassen, alphabetisch geordnet :)

.active, .accordion:hover {
//  background-color: rgba(248,249,250,.8);
background-color: #dcefb0;
}

.active, .accordionsmall:hover {
//  background-color: rgba(248,249,250,.8);
background-color: #e5f3c5;
}

//header: Reihenfolge relevant

header.www {
background-image: url(/assets/images/3w22_banner.jpg);
background-position: center;
background-size: cover;
}

header.wwwbeschreibung {
background-image: url(/assets/images/WW21_Workshop.png);
background-position: 0em -10em;
background-size: cover;
}

header.wwwinfos {
  background-image: url(/assets/images/w322_infos.jpg);
  background-position: center;
  background-size: cover;
}


header.wwwmitmachen {
  background-image: url(/assets/images/WW21_Programm.jpg);
  background-position: center;
  background-size: cover;
}

header.wwwangemeldet {
  background-image: url(/assets/images/w322_workshopwochenende_2.jpg);
  background-position: center;
  background-size: cover;
}

header
{
min-height: 15rem;
padding: 1rem 5rem 10rem;
justify-content: center;
display: flex;
}

header > h1 {
background-color: #ffe7a1ee;
padding: 0.5rem 0.2rem;}

header.wwwbeschreibung > h1
{
margin-top: 6.5rem;
}

.banner
{
 margin-top: 0px;
 margin-bottom: 0px;
 padding:0em
}

.container
{
 background-color:rgba(248,249,250,.8);
 padding:1.5em 1.5em;
 margin: 15px auto;
 overflow: scroll;
}




.img-kleiner {
  max-width: 50%;
  height: auto;
  float: left;
  clear: left;
  margin: 1em;
}

.img-mini {
  max-width: 7rem;
  height: auto;
  margin: 1em;
}

.ledoewi-heading {color: #fb6e32}

.panel
{
 padding: 1em 1em;
 display: none;
  //background-color: #f8f9faCC;
  //color: #f8f9faCC;
 overflow: hidden;
}


main
{
 background-color:rgba(248,249,250,0.8);
 /* Pixelterror! */
 padding:15px;
 margin:15px auto;
 max-width: 85vw;
}

/* Das hier folgende Pixel-Layout ist mega schlimm und kagge, aber ich hab das aus deinem Code einfach so Ã¼bernommen. Bitte nicht nach Pixeln layouten. Siehe zum Beispiel
 * https://de.wikipedia.org/wiki/Retina-Display
 * Bei 476 Pixeln pro Zoll (und 2,54 Zentimetern pro Zoll) ergibt eine Maximalbreite von 1140 Pixeln
 * 1140/476*2.54 = 6.08 Zentimeter
 * Prost Mahlzeit! */


@media (max-width: 992px)
  {
   main
   {
    max-width: 90vw;
   }
  }

@media (ma-width: 768px)
  {
   main
   {
    max-width: 95vw;
   }
  }

@media (max-width: 576px)
{
 main
 {
  max-width: 98vw;
 }
}

summary
{
 cursor:pointer;
 background-color:#e5f3c5;
 color:#027424;
 list-style:none;
 font-size:x-large;
 font-weight:bold;
 padding: 0.4em 0.2em
}

summary:hover
{
 background-color:#dcefb0;
}

details
{
 margin-left:1em;
}

details details summary
{
 font-weight:inherit;
}



//Ids, Alphabetisch sortiert

#h3green {
  color: #027424;
}


//Bildergallerie mit Unterschriften (3W22)
figure,
figcaption {
	margin: 0;
	padding: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

#gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  //1fr 1fr 1fr
  //repeat(auto-fill, minmax(15em, 1fr));
	gap: 1em;
	text-align: center;
}

#gallery figure {
	position: relative;
	color: black;
	background: white;
}

figure img {
	width: 100%;
	display: block;
  object-fit: cover;
}

figure img  {
	width: 100%;
	display: block;
  object-fit: cover;
}

#gallery > figure > figcaption {
	position: absolute;
	bottom: 0;
	width: 100%;
  line-height: 3em;
	//line-height: 11.25em;
	color: white;
	background: rgba(0, 1, 0.5, 0.5);
  font-size: 1em;
}


#gallery > figcaption {
	grid-column: 1 / -1;
}

// runder Bildausschnitt

.rund {
 object-fit: cover;
 object-position: 50% 0;
 border-radius: 50%;
 width: 15em;
 height: 15em;
}

.figcaptiondunkel {
position: absolute;
bottom: 0;
width: 100%;
line-height: 3em;
//line-height: 11.25em;
color: white;
background: rgba(1, 1, 0.5, 3);
font-size: 1em;}

// TExt zentriert + Größer
.wichtig  {
  text-align: center;
  font-size: 1.5em;
}
