<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <script  src="/assets/js/popper.min.js"></script>
    <script  src="/assets/js/jquery-3.5.0.min.js"></script>
    <script  src="/assets/js/bootstrap.min.js"></script>
    <title>{{ page.title }}</title>


<style>


</style>
 <!-- h1 und backgroud: Aus Farbschema "saviour", andere Farben passend mit colorhexa gesucht -->

  </head>

  <body>
      {% include navigation.html %}

    <main>

    {{ content }}



  </main>

  </body>
</html>
